@page{
  
  size: Legal landscape;
    
  margin: 0.4in;
  
  padding: 100 !important;

}

figure img { 
  
  /*width: 100%;  Scale down */
  
  width: 40cm !important;
  
  text-align: center;
  
  float: left;

}

body {
  
  /*margin: 20 !important;
  padding: 20;*/
  
  font-size: 20pt;
  
  width: 34cm;
  
  height: 20.5cm;

}

.btn {
 
  display: none !important;

}

.modal {
  
  display: none !important;

}

.navbar {

  display: none;

}

 /* infra, equip */
.col-md-2{ 
  
  background-color: #ffffff; 
  
  padding: 0 0 0 20px; 
  
  width: 600px; 
  
  float: left; 
  
  right: 10cm;

} 

.col-md-2 table{ 
   
  background-color: #ffffff; 
  
  width: 600px; 
  
  border: 2px solid #cccccc; 
  
  font-size: 20pt; 
  
  position: absolute;
  
  text-align: center;

  margin-top: 100px;

  border-collapse: collapse;

  border: 1px solid black;

   /*right: 10cm;*/
}
 /* fin infra, equip */

.col-md-5 { 
  
  background-color: #ffffff; 
  
  padding: 0 0 0 20px; 
  
  width: 600px; 
  
  float: left; 

} 

.col-md-5 table{ 

  background-color: #ffffff; 
   
  width: 600px; 
   
  border: 2px solid #cccccc; 
   
  font-size: 20pt; 
   
  position: inherit;
   
  text-align: center;

  border-collapse: collapse;

  border: 1px solid black;
  

}


/* labels */
.infra{

  margin-left: 0cm;
  
  margin-top: 5cm;
  
  font-family: cursive;
  
  font-size: 20pt;
  
  font-style: italic;

}

.equip{

  margin-left: 25cm;
  
  margin-top: -4cm;
  
  font-family: cursive;
  
  font-size: 20pt;
  
  font-style: italic;

}

.plan{
 
  margin-left: 56cm;

  margin-top: -2cm;

  font-family: cursive;

  font-size: 20pt;

  font-style: italic;


}
/* fin labels */

/* tablas */
.infratable{

  background-size: 20cm;
  
  margin-left: 0cm;
  
  margin-right: 0cm;
  
  margin-top: 1.90cm;

}

.equiptable{

  width: 100pt;
  
  height: 100px;
  
  background-attachment: scroll;
  
  margin-left: 24cm;
  
  margin-top: -10.8cm;


}

.plantable{

  margin-left: 44cm;
  
  margin-top: -8cm;

}
/* fin tablas */

.arriba{
  
  position: fixed;
  
  top: 0.1cm;
  
  right: .5cm;
  
  margin-left: 5cm;

  direction: ltr;

  font-size: 20pt;

  font-style: italic;

  font-family: cursive;

}

.abajo{
   
  margin-left: 5cm;

  position: fixed;
  
  text-align: center;
  
  top: 11cm;
  
  right: 10cm;
  
  direction: ltr;

  font-size: 20pt;

  font-style: italic;

  font-family: cursive;

}

/* barrio, idmza */
.col-md-3{ 

  width: 10cm;

  padding: .50cm;

  position: absolute; /* Estaba en fixed. Con absolute se movio a la derecha como queriamos. */

  right: .10cm;

}

.col-md-3 table{ 
  
  background-color: #ffffff; 
  
  width: 600px; 
  
  border-collapse: collapse;

  z-index: 10cm;
  
  border: 2px solid #cccccc; 
  
  font-size:20pt;

  border: 1px solid black;
  /*margin-top: 100px;*/

}
/* fin barrio, idmza */

.col-lg-18{

  max-width: 34cm;

}

.col-lg-17 {

  position: fixed;
  
  top: 40cm;
  
  font-size: 22pt;
  
  font-family: cursive;
  
  font-style: italic;


}

.col-md-8{

  
  font-size: 30pt;
  
  font-family: cursive;
  
  font-style: italic;

}