/* STYLE FOR PRINT OUTPUT */

/* General settings for HTML print, especially legend */

BODY {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background : #E4E4E4; /*#D4D0C8;*/
    color: black;
}


TABLE {
    margin-bottom: 10px;
}    

TH {
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    
}

TD {
    font-size: 11px;
    text-align: left;
    vertical-align: top;
}


INPUT {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.box {
    background : #FFFFFF;
    padding: 5px;
    border-top: 1px solid #666666;
    border-left: 1px solid #666666;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}


.boxdoc {
    background : #FFFFFF;
    overflow: hidden;
}

.layers a {
    color: #000000;
	text-decoration: none;
}

.layers a:hover {
    color: #000000;
	text-decoration: underline;
}


.layer_abstract {
    visibility: hidden;
    width: 0px;
    height: 0px;
    overflow: hidden; 
}

